/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  nav ul li a:hover {
    background-color: #ccc;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
  }
  
  .image-gallery img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Add margin for spacing between images */
  }
  